.title {
  user-select: none;
}

.sub_title {
  user-select: none;
}

.form {
  width: 100%;
}

.input_group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  > input {
    flex-grow: 1;
    border: 1px solid #6d6d6d;
    padding: 0.6rem 0.9rem;
    border-radius: .3rem;
    color: white;
    background-color: #202023;

    ::placeholder {
      color: #fff;
    }

    &:focus {
      outline-offset: 0;
      outline: #6d6d6d solid 1px;
    }
  }

  > button {
    padding: 0.8rem 1.1rem;
    outline-color: #333;
    outline-width: 2px;
    border-radius: .3rem;
    border: none;
    background: #333;
    color: #fff;

    &:hover {
      outline-offset: 0;
      outline: #979797 solid 1px;
    }
  }
}

@media screen and (min-width: 620px) {
  .input_group {
    flex-direction: row;
  }
}

.download_input {
  display: inline-block;
  outline: none;
}

.progress_bar {
  position: relative;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: width 200ms ease;
}

.progress_bar__complete {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #0070f3;
  border-radius: 5px;
  z-index: 2;
}
